@import "../node_modules/bootstrap/scss/bootstrap";

// Base settings for the photo section
.photo-section {
  display: flex;
  justify-content: center; // Distributes space between items
  align-items: center; // Vertically aligns items in the center
  height: auto;
  padding: 20px; // Adds padding around the section
  width: 100%; // Ensures the section takes full width of its container

  img {
    width: 200px; // Each image takes up just under half of the container's width
    height: auto; // Automatically adjusts the height to maintain aspect ratio
    object-fit: contain; // Ensures the image fits within given dimensions without cropping


    &:last-child {
      margin-left: 2%; // Adds a small margin to the second image for spacing
    }
  }
}
