@import "../node_modules/bootstrap/scss/bootstrap";

//BOOTSTRAP FILES
// Core variables and mixins
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Reset and dependencies
//@import "node_modules/bootstrap/scss/normalize";
//@import "node_modules/bootstrap/scss/print";

// Core CSS
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";

// Components
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
//@import "node_modules/bootstrap/scss/input-group";
//@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
//@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
//@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
//@import "node_modules/bootstrap/scss/responsive-embed";
@import "node_modules/bootstrap/scss/close";

// Components w/ JavaScript
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";

// Utility classes
@import "node_modules/bootstrap/scss/utilities";

.english {
  text-align: left;
  font-family: 'Merriweather', serif;
}

.hebrew, .hebrew.col, {
  font-family: 'Noto Sans Hebrew', sans-serif; /* Noto Sans Hebrew specifically for Hebrew */
  direction: rtl; /* Right-to-left direction for Hebrew text */
  text-align: right;
}

// column style for bilingual text
.col, .hebrew.col {
  flex: 1; /* Ensures both columns take up equal space */
  display: flex;
  flex-direction: column; /* Align subsections in a column */
}

// row style for bilingual text
.row {
  //flex: 0; /* Ensures both columns take up equal space */
  //display: flex;
  //flex-direction: row; /* Align subsections in a column */
}

.col.content {
  padding: 20px;
}

.navbar {
  background-color: #f8f9fa;
}

.navbar.link {
  display: flex;
  justify-content: center;
}

//.root-container {
//  display: flex; // Flexbox container
//  flex-direction: column; // Stacks children vertically
//  align-items: center; // Horizontally aligns children in the center
//  padding: 20px; // Adds padding around the container
//}


// Base settings for the photo section
.photo-section {
  display: flex;
  justify-content: center; // Distributes space between items
  align-items: center; // Vertically aligns items in the center
  height: auto;
  padding: 20px; // Adds padding around the section
  width: 100%; // Ensures the section takes full width of its container

  img {
    width: 200px; // Each image takes up just under half of the container's width
    height: auto; // Automatically adjusts the height to maintain aspect ratio
    object-fit: contain; // Ensures the image fits within given dimensions without cropping


    &:last-child {
      margin-left: 2%; // Adds a small margin to the second image for spacing
    }
  }
}
