body {
    direction: ltr; /* Default text direction */
    font-family: 'Merriweather', serif; /* General font for better compatibility */
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.text-sections {
    display: flex;
    flex-direction: row;

    /*justify-content: space-between;*/
    /*margin-bottom: 20px;*/
}

.english, .hebrew {
    /*width: 50%;*/
    /*padding: 20px;*/
    flex: 1; /* Ensures both columns take up equal space */
    display: flex;
    flex-direction: column; /* Align subsections in a column */
}

.hebrew {
    direction: rtl; /* Right-to-left direction for Hebrew text */
    text-align: right;
    font-family: 'Noto Sans Hebrew', sans-serif; /* Noto Sans Hebrew specifically for Hebrew */
}

.title-subsection h2 {
    border-bottom: 4px solid #6200ea; /* Indigo accent from Material Design */
    padding-bottom: 10px;
}

.subsection {
    flex: 1; /* Allows subsections to expand to fit the container */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space evenly inside the subsection */
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    position: relative; /* Required for MDL effects */
}

.english .subsection, .hebrew .subsection {
    flex: 1; /* This will make each subsection flex to fill the space as needed */
}

.photo-section {
    display: flex;
    flex-direction: row; /* Align children in a row */
    justify-content: space-between; /* Space between the images */
    align-items: center; /* Center align items */
    text-align: center; /* Centering the photos */
    padding: 20px; /* Adds some padding around the images */
    width: 70%; /* Full width of the container */
    /*width: 500px;  !* Set the width of the images *!*/
    /*height: 500px; !* Set the height of the images *!*/
    /*object-fit: cover; !* Ensures the image covers the area without distorting aspect ratio *!*/
    /*padding-top: 20px; !* Padding above the photo section *!*/
    margin-bottom: 20px; /* Adds space between the images */
}

.photo-section img {
    max-width: 49%; /* Ensures images are responsive and do not overflow their container */
    border-radius: 4px; /* Material design rounded corners for images */
    margin-bottom: 10px; /* Adds space between the images */
    height: auto; /* Height adjusts automatically to maintain aspect ratio */
    object-fit: contain; /* Ensures the image fits within the dimensions set without cropping */
}

h2, h3 {
    color: #2a2a2a;
    margin-top: 0;
}

p {
    margin: 0 0 10px;
}
