extends layout

include tours
            //.text-sections(style='display: flex;')
            //    .english(style='flex: 1; padding-right: 10px;')
            //        .title-subsection
            //            h2 Sarit's Chabad House
            //        .subsection
            //            h3 Women's Tours
            //            p Visit the Rebbe's shul.
            //        .subsection
            //            h3 Letters to the Rebbe
            //            p Write a letter to the Rebbe.
            //    .hebrew
            //        .title-subsection
            //            h2 חלק בעברית
            //        .subsection
            //            h3 כותרת משנה 1
            //            p זהו טקסט בעברית עבור המשנה הראשונה.
            //        .subsection
            //            h3 כותרת משנה 2
            //            p טקסט מפורט יותר בעברית עבור המשנה השנייה.
