doctype html
html(lang='en')
    include head
    body
        .div.container
            .container-fluid
            include navbar
            .hebrew.h6 ב״ה
            //div.page-content
            block contents
    include footer