block navbar
    .navbar(class='nav')
        //a.navbar-brand(href='/') B"H
        .navbar.link(class='disabled')
            a.nav-link(href='/') Home
            a.nav-link(href='/about') About
            a.nav-link(href='/tours') Tours
            a.nav-link(href='/contact') Contact