extends layout

block contents
    english-content.title
        h2 Women's Tours
    english-content.contents
        h3 The Rebbe's Shul
        p Visit the Rebbe's shul in historic Crown Heights.
    hebrew-content.title
        h2 חלק בעברית
    hebrew-content.contents
        h3 זהו טקסט בעברית עבור המשנה הראשונה.
        p זהו טקסט בעברית עבור המשנה הראשונה.
    include bilingual-text-section
        //.row(class='row')
        .photo-section
            img(src='the-womens-shul_first-shul_shiur.png', alt='Descriptive Alt Text')
            img(src='the-womens-shul_young-girls.png', alt='תיאור תמונה')

